@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&display=swap');

* {
  font-family: 'Baloo 2', cursive !important;
}

.header {
  background-color: #1BBA96;
}

.nav-link {
  font-size: 24px;
}

.login-button {
  background-color: #386069;
  color: #fff;
  font-size: 24px;
}

.login-button:hover {
  background-color: #4F8692;
  color: #fff;
}

.hero-text {
  font-weight: 800 !important;
  font-size: 63px;
  color: #fff;
}

.selengkapnya-text {
  background-color: #FC8348;
  color: #fff;
  font-size: 22px;
}

.selengkapnya-text:hover {
  /* border-color: #386069; */
  background-color: #D46E3C;
  color: #fff;
}

.selengkapnya-text:active {
  background-color: #B15C32 !important;
  color: #fff !important;
  border-color: #B15C32 !important;
}

.services-title {
  font-weight: 800 !important;
}

.about-title {
  font-weight: 800 !important;
}

.about-us-text {
  font-size: 1.4em;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 15px;
  }

  .login-button {
    font-size: 15px;
  }

  .hero-image {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .hero-text {
    font-size: 36px;
    text-align: center;
  }

  .sub-hero-text {
    font-size: 18px;
    text-align: center;
  }

  .selengkapnya-text {
    font-size: 16px;
  }

  .selengkapnya-button {
    text-align: center;
  }

  .login-button {
    font-size: 16px;
  }

  /* .services {
    height: 100vh;
  } */

  .header-home {
    margin-bottom: 0px;
  }

  .about-us-text {
    font-size: 1em;
  }
}

@media screen and (min-width:769px) and (max-width: 992px) {
  .nav-link {
    font-size: 18px;
  }

  .login-button {
    font-size: 18px;
  }

  .hero-text {
    font-size: 36px;
    /* text-align: center; */
  }

  .sub-hero-text {
    font-size: 18px;
    /* text-align: center; */
  }

  .selengkapnya-text {
    font-size: 16px;
  }



  /* .selengkapnya-button {
    text-align: center;
  } */
}

@media screen and (min-width: 993px) {
  .container-fluid {
    margin-bottom: 40px;
  }

}